* {
    box-sizing: border-box;
}

body {
    background-color: #3F2860;
    color:#3F2860; 
    font-family: Verdana, Arial, Sans-serif;
}

header {
    background-color: #9BC1C2;
    height: 150px;
    background-image: url(images/lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}

nav  {
    font-weight: bold;
    padding: 1em;
    background-color: #F5F5F5;
    float: left;
    width: 160px;
}

nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    border: outset 3px #CCCCCC;
    padding: 1em;
    margin-bottom: 1em;
}

.studio {
    font-style: italic;
}

footer {
    background-color: #9BC1C2;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

#wrapper { 
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    background-color: #F5F5F5;
    min-width: 1200px;
    max-width: 1480px;
}

main {
    padding-left: 2em;
    padding-right: 2em;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}

#hero {
    text-align: center;
}